* {
  box-sizing: border-box;
}

$color-valid-item: #9aff67;
$color-focus-item: #ffff74;

.crossword-board-container {
  padding-bottom: 57px;
  position: relative;
  background: #ffffff;
}

.crossword-board-wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 29px solid #0078dc;
  position: relative;
}

.crossword-board {
  z-index: 1;
  display: grid;
  grid-template: repeat(28, 28px) / repeat(29, 28px);
  list-style-type: none;
}

.crossword-board__item {
  border: 1px solid #0078dc;
  background: transparent;
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 28px;
  height: 28px;

  &:active,
  &:focus {
    background: $color-focus-item;
    border: 1px solid #000000;
    outline: 1px solid #000000;
  }

  &:valid {
    background: #b5d45b;
  }
}

.crossword-board__item--blank {
  background: #0078dc;
  border: 1px solid #0078dc;
  outline: 1px solid #0078dc;
}

.crossword-board__item-label-fin {
  border: 1px solid #0078dc;
  position: relative;
  background-color: #f7d9a2;

  .crossword-board__item-label-text {
    top: inherit;
    bottom: 2px;
    left: 2px;
  }
}

.crossword-board__item-label_fin-1 {
  grid-row: 15;
  grid-column: 4;
}

.crossword-board__item-label_fin-2 {
  grid-row: 26;
  grid-column: 20;
}

.crossword-board__item-label_fin-3 {
  grid-row: 15;
  grid-column: 20;
}

.crossword-board__item-label_fin-4 {
  grid-row: 5;
  grid-column: 8;
}

.crossword-board__item-label_fin-5 {
  grid-row: 9;
  grid-column: 23;
}

.crossword-board__item-label_fin-6 {
  grid-row: 16;
  grid-column: 14;
}

.crossword-board__item-label_fin-7 {
  grid-row: 25;
  grid-column: 2;
}

.crossword-board__item-label_fin-8 {
  grid-row: 21;
  grid-column: 10;
}

.crossword-board__item-label_fin-9 {
  grid-row: 15;
  grid-column: 8;
}

.crossword-board__item-label_fin-10 {
  grid-row: 16;
  grid-column: 27;
}

.crossword-board__item-label_fin-11 {
  grid-row: 2;
  grid-column: 15;
}

#item15-4:valid~.crossword-word .crossword-letter--1 {
  .crossword-letter__text {
    display: block;
  }
}

#item26-20:valid~.crossword-word .crossword-letter--2 {
  .crossword-letter__text {
    display: block;
  }
}

#item15-20:valid~.crossword-word .crossword-letter--3 {
  .crossword-letter__text {
    display: block;
  }
}

#item5-8:valid~.crossword-word .crossword-letter--4 {
  .crossword-letter__text {
    display: block;
  }
}

#item9-23:valid~.crossword-word .crossword-letter--5 {
  .crossword-letter__text {
    display: block;
  }
}

#item16-14:valid~.crossword-word .crossword-letter--6 {
  .crossword-letter__text {
    display: block;
  }
}

#item25-2:valid~.crossword-word .crossword-letter--7 {
  .crossword-letter__text {
    display: block;
  }
}

#item21-10:valid~.crossword-word .crossword-letter--8 {
  .crossword-letter__text {
    display: block;
  }
}

#item15-8:valid~.crossword-word .crossword-letter--9 {
  .crossword-letter__text {
    display: block;
  }
}

#item16-27:valid~.crossword-word .crossword-letter--10 {
  .crossword-letter__text {
    display: block;
  }
}

#item2-15:valid~.crossword-word .crossword-letter--11 {
  .crossword-letter__text {
    display: block;
  }
}

.crossword-board--labels {
  position: absolute;
  pointer-events: none;
}

.crossword-board--labels:not(.crossword-board--labels-fin) {
  z-index: 100;
}

.crossword-board__item-label {
  position: relative;
}

.crossword-board__item-label-text {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}

.crossword-board__item-label--1 {
  grid-column: 6;
}

.crossword-board__item-label--2 {
  grid-column: 4;
  grid-row: 3;
}

.crossword-board__item-label--3 {
  grid-column: 2;
  grid-row: 6;
}

.crossword-board__item-label--4 {
  grid-column: 2;
  grid-row: 9;
}

.crossword-board__item-label--5 {
  grid-column: 2;
  grid-row: 10;
}

.crossword-board__item-label--6 {
  grid-column: 8;
  grid-row: 4;
}

.crossword-board__item-label--7 {
  grid-row: 8;
  grid-column: 4;
}

.crossword-board__item-label--8 {
  grid-row: 4;
  grid-column: 11;
}

.crossword-board__item-label--9 {
  grid-row: 1;
  grid-column: 15;
}

.crossword-board__item-label--10 {
  grid-row: 9;
  grid-column: 9;
}

.crossword-board__item-label--11 {
  grid-row: 12;
  grid-column: 8;
}

.crossword-board__item-label--12 {
  grid-row: 7;
  grid-column: 13;
}

.crossword-board__item-label--13 {
  grid-row: 3;
  grid-column: 17;
}

.crossword-board__item-label--14 {
  grid-row: 10;
  grid-column: 11;
}

.crossword-board__item-label--15 {
  grid-row: 15;
  grid-column: 8;
}

.crossword-board__item-label--16 {
  grid-row: 22;
  grid-column: 1;
}

.crossword-board__item-label--17 {
  grid-row: 21;
  grid-column: 2;
}

.crossword-board__item-label--18 {
  grid-row: 18;
  grid-column: 6;
}

.crossword-board__item-label--19 {
  grid-row: 14;
  grid-column: 11;
}

.crossword-board__item-label--20 {
  grid-row: 5;
  grid-column: 20;
}

.crossword-board__item-label--21 {
  grid-row: 20;
  grid-column: 5;
}

.crossword-board__item-label--22 {
  grid-row: 12;
  grid-column: 14;
}

.crossword-board__item-label--23 {
  grid-row: 16;
  grid-column: 10;
}

.crossword-board__item-label--24 {
  grid-row: 20;
  grid-column: 6;
}

.crossword-board__item-label--25 {
  grid-row: 22;
  grid-column: 4;
}

.crossword-board__item-label--26 {
  grid-row: 11;
  grid-column: 16;
}

.crossword-board__item-label--27 {
  grid-row: 9;
  grid-column: 18;
}

.crossword-board__item-label--28 {
  grid-row: 16;
  grid-column: 12;
}

.crossword-board__item-label--29 {
  grid-row: 12;
  grid-column: 16;
}

.crossword-board__item-label--30 {
  grid-row: 18;
  grid-column: 10;
}

.crossword-board__item-label--31 {
  grid-row: 7;
  grid-column: 23;
}

.crossword-board__item-label--32 {
  grid-row: 14;
  grid-column: 18;
}

.crossword-board__item-label--33 {
  grid-row: 24;
  grid-column: 9;
}

.crossword-board__item-label--34 {
  grid-row: 14;
  grid-column: 20;
}

.crossword-board__item-label--35 {
  grid-row: 18;
  grid-column: 16;
}

.crossword-board__item-label--36 {
  grid-row: 20;
  grid-column: 14;
}

.crossword-board__item-label--37 {
  grid-row: 13;
  grid-column: 22;
}

.crossword-board__item-label--38 {
  grid-row: 11;
  grid-column: 24;
}

.crossword-board__item-label--39 {
  grid-row: 16;
  grid-column: 22;
}

.crossword-board__item-label--40 {
  grid-row: 22;
  grid-column: 16;
}

.crossword-board__item-label--41 {
  grid-row: 12;
  grid-column: 26;
}

.crossword-board__item-label--42 {
  grid-row: 16;
  grid-column: 24;
}

.crossword-board__item-label--43 {
  grid-row: 22;
  grid-column: 19;
}

.crossword-board__item-label--44 {
  grid-row: 21;
  grid-column: 22;
}

.crossword-board__item-label--45 {
  grid-row: 26;
  grid-column: 19;
}

.crossword-board__item-label--46 {
  grid-row: 21;
  grid-column: 26;
}

.crossword-board__item-label--47 {
  grid-row: 23;
  grid-column: 25;
}

.crossword-board--highlight {
  position: absolute;
  z-index: 50;
}

.crossword-board__item-highlight {
  background: $color-valid-item;
  display: grid;
  opacity: 0;
  transition: opacity 0.3s linear;
}

/***********************************************************/
/** ACROSS ANSWERS HIGHLIGHTING START                      */
/***********************************************************/

// .crossword-board__item-highlight--across-1 {
//   grid-column: 1/7;
// }

// .crossword-board__item-highlight--across-7 {
//   grid-column: 6/14;
//   grid-row: 2;
// }

// .crossword-board__item-highlight--across-8 {
//   grid-column: 3/7;
//   grid-row: 3;
// }

// .crossword-board__item-highlight--across-10 {
//   grid-column: 1/7;
//   grid-row: 4;
// }

// .crossword-board__item-highlight--across-11 {
//   grid-column: 8/14;
//   grid-row: 4;
// }

// .crossword-board__item-highlight--across-14 {
//   grid-column: 3/6;
//   grid-row: 5;
// }

// .crossword-board__item-highlight--across-16 {
//   grid-column: 9/14;
//   grid-row: 5;
// }

// .crossword-board__item-highlight--across-17 {
//   grid-column: 1/5;
//   grid-row: 6;
// }

// .crossword-board__item-highlight--across-19 {
//   grid-column: 6/11;
//   grid-row: 6;
// }

// .crossword-board__item-highlight--across-21 {
//   grid-column: 5/10;
//   grid-row: 7;
// }

// .crossword-board__item-highlight--across-22 {
//   grid-column: 4/9;
//   grid-row: 8;
// }

// .crossword-board__item-highlight--across-23 {
//   grid-column: 10/14;
//   grid-row: 8;
// }

// .crossword-board__item-highlight--across-26 {
//   grid-column: 1/6;
//   grid-row: 9;
// }

// .crossword-board__item-highlight--across-28 {
//   grid-column: 9/12;
//   grid-row: 9;
// }

// .crossword-board__item-highlight--across-29 {
//   grid-column: 1/7;
//   grid-row: 10;
// }

// .crossword-board__item-highlight--across-30 {
//   grid-column: 8/14;
//   grid-row: 10;
// }

// .crossword-board__item-highlight--across-31 {
//   grid-column: 8/12;
//   grid-row: 11;
// }

// .crossword-board__item-highlight--across-32 {
//   grid-column: 1/9;
//   grid-row: 12;
// }

// .crossword-board__item-highlight--across-33 {
//   grid-column: 8/14;
//   grid-row: 13;
// }

// .crossword-board__item-highlight--across-33 {
//   grid-column: 8/14;
//   grid-row: 13;
// }

// .crossword-board__item-highlight--down-1 {
//   grid-column: 1;
//   grid-row: 1/7;
// }

// .crossword-board__item-highlight--down-2 {
//   grid-column: 4;
//   grid-row: 1/7;
// }

// .crossword-board__item-highlight--down-3 {
//   grid-column: 6;
//   grid-row: 1/5;
// }

// .crossword-board__item-highlight--down-4 {
//   grid-column: 9;
//   grid-row: 1/8;
// }

// .crossword-board__item-highlight--down-5 {
//   grid-column: 11;
//   grid-row: 1/6;
// }

// .crossword-board__item-highlight--down-6 {
//   grid-column: 13;
//   grid-row: 1/6;
// }

// .crossword-board__item-highlight--down-8 {
//   grid-column: 3;
//   grid-row: 3/7;
// }

// .crossword-board__item-highlight--down-9 {
//   grid-column: 5;
//   grid-row: 3/6;
// }

// .crossword-board__item-highlight--down-12 {
//   grid-column: 10;
//   grid-row: 4/7;
// }

// .crossword-board__item-highlight--down-13 {
//   grid-column: 12;
//   grid-row: 4/9;
// }

// .crossword-board__item-highlight--down-15 {
//   grid-column: 7;
//   grid-row: 5/10;
// }

// .crossword-board__item-highlight--down-18 {
//   grid-column: 2;
//   grid-row: 6/11;
// }

// .crossword-board__item-highlight--down-19 {
//   grid-column: 6;
//   grid-row: 6/9;
// }

// .crossword-board__item-highlight--down-20 {
//   grid-column: 8;
//   grid-row: 6/9;
// }

// .crossword-board__item-highlight--down-21 {
//   grid-column: 5;
//   grid-row: 7/14;
// }

// .crossword-board__item-highlight--down-22 {
//   grid-column: 4;
//   grid-row: 8/11;
// }

// .crossword-board__item-highlight--down-23 {
//   grid-column: 10;
//   grid-row: 8/14;
// }

// .crossword-board__item-highlight--down-24 {
//   grid-column: 11;
//   grid-row: 8/12;
// }

// .crossword-board__item-highlight--down-25 {
//   grid-column: 13;
//   grid-row: 8/14;
// }

// .crossword-board__item-highlight--down-26 {
//   grid-column: 1;
//   grid-row: 9/14;
// }

// .crossword-board__item-highlight--down-27 {
//   grid-column: 3;
//   grid-row: 9/14;
// }

// .crossword-board__item-highlight--down-28 {
//   grid-column: 9;
//   grid-row: 9/12;
// }

// .crossword-board__item-highlight--down-30 {
//   grid-column: 8;
//   grid-row: 10/14;
// }

// #item1-1:valid
//   ~ #item2-1:valid
//   ~ #item3-1:valid
//   ~ #item4-1:valid
//   ~ #item5-1:valid
//   ~ #item6-1:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-1 {
//   opacity: 1;
// }
// #item1-4:valid
//   ~ #item2-4:valid
//   ~ #item3-4:valid
//   ~ #item4-4:valid
//   ~ #item5-4:valid
//   ~ #item6-4:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-2 {
//   opacity: 1;
// }
// #item1-6:valid
//   ~ #item2-6:valid
//   ~ #item3-6:valid
//   ~ #item4-6:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-3 {
//   opacity: 1;
// }
// #item1-9:valid
//   ~ #item2-9:valid
//   ~ #item3-9:valid
//   ~ #item4-9:valid
//   ~ #item5-9:valid
//   ~ #item6-9:valid
//   ~ #item7-9:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-4 {
//   opacity: 1;
// }
// #item1-11:valid
//   ~ #item2-11:valid
//   ~ #item3-11:valid
//   ~ #item4-11:valid
//   ~ #item5-11:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-5 {
//   opacity: 1;
// }
// #item1-13:valid
//   ~ #item2-13:valid
//   ~ #item3-13:valid
//   ~ #item4-13:valid
//   ~ #item5-13:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-6 {
//   opacity: 1;
// }
// #item3-3:valid
//   ~ #item4-3:valid
//   ~ #item5-3:valid
//   ~ #item6-3:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-8 {
//   opacity: 1;
// }
// #item3-5:valid
//   ~ #item4-5:valid
//   ~ #item5-5:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-9 {
//   opacity: 1;
// }
// #item4-10:valid
//   ~ #item5-10:valid
//   ~ #item6-10:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-12 {
//   opacity: 1;
// }
// #item4-12:valid
//   ~ #item5-12:valid
//   ~ #item6-12:valid
//   ~ #item7-12:valid
//   ~ #item8-12:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-13 {
//   opacity: 1;
// }
// #item5-7:valid
//   ~ #item6-7:valid
//   ~ #item7-7:valid
//   ~ #item8-7:valid
//   ~ #item9-7:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-15 {
//   opacity: 1;
// }
// #item6-2:valid
//   ~ #item7-2:valid
//   ~ #item8-2:valid
//   ~ #item9-2:valid
//   ~ #item10-2:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-18 {
//   opacity: 1;
// }
// #item6-6:valid
//   ~ #item7-6:valid
//   ~ #item8-6:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-19 {
//   opacity: 1;
// }
// #item6-8:valid
//   ~ #item7-8:valid
//   ~ #item8-8:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-20 {
//   opacity: 1;
// }
// #item7-5:valid
//   ~ #item8-5:valid
//   ~ #item9-5:valid
//   ~ #item10-5:valid
//   ~ #item11-5:valid
//   ~ #item12-5:valid
//   ~ #item13-5:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-21 {
//   opacity: 1;
// }
// #item8-4:valid
//   ~ #item9-4:valid
//   ~ #item10-4:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-22 {
//   opacity: 1;
// }
// #item8-10:valid
//   ~ #item9-10:valid
//   ~ #item10-10:valid
//   ~ #item11-10:valid
//   ~ #item12-10:valid
//   ~ #item13-10:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-23 {
//   opacity: 1;
// }
// #item8-11:valid
//   ~ #item9-11:valid
//   ~ #item10-11:valid
//   ~ #item11-11:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-24 {
//   opacity: 1;
// }
// #item8-13:valid
//   ~ #item9-13:valid
//   ~ #item10-13:valid
//   ~ #item11-13:valid
//   ~ #item12-13:valid
//   ~ #item13-13:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-25 {
//   opacity: 1;
// }
// #item9-1:valid
//   ~ #item10-1:valid
//   ~ #item11-1:valid
//   ~ #item12-1:valid
//   ~ #item13-1:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-26 {
//   opacity: 1;
// }
// #item9-3:valid
//   ~ #item10-3:valid
//   ~ #item11-3:valid
//   ~ #item12-3:valid
//   ~ #item13-3:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-27 {
//   opacity: 1;
// }
// #item9-9:valid
//   ~ #item10-9:valid
//   ~ #item11-9:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-28 {
//   opacity: 1;
// }
// #item10-8:valid
//   ~ #item11-8:valid
//   ~ #item12-8:valid
//   ~ #item13-8:valid
//   ~ .crossword-board--highlight
//   .crossword-board__item-highlight--down-30 {
//   opacity: 1;
// }

/***********************************************************/
/** DOWN ANSWERS HIGHLIGHTING END                          */
/***********************************************************/

#checkvaliditems:checked~.crossword-board-container .crossword-board__item:valid {
  background: $color-valid-item;
}

.crossword-complete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  color: green;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.crossword-word {
  display: flex;
  border: 1px solid #000;
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
}

.crossword-letter {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;
  font-size: 28px;
  text-align: center;
  background-color: #f7d9a2;
}

.crossword-letter__text {
  position: relative;
  bottom: 5px;
  display: none;
}

.crossword-letter__lbl {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 12px;
  line-height: 1;
}

.crossword-clues {
  position: absolute;
  top: -28px;
  right: 0%;
  width: 300px;
  transform: translateX(calc(100% + 30px));
  overflow: auto;
  height: calc(100% + 113px);
  padding-left: 20px;
}

.crossword-clues__list {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.crossword-clues__list-title {
  font-weight: bold;
  padding: 4px;
}

.crossword-clues__list-item {
  margin: 0;
  padding: 4px;
}





#item1-6,
#item2-6,
#item3-6,
#item4-6,
#item5-6,
#item6-6,
#item7-6,
#item8-6,
#item9-6,
#item10-6 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-1 {
      background: $color-focus-item;
    }
  }
}

#item3-4,
#item4-4,
#item5-4,
#item6-4 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-2 {
      background: $color-focus-item;
    }
  }
}


#item6-2,
#item6-3,
#item6-4,
#item6-5,
#item6-6,
#item6-7,
#item6-8,
#item6-9,
#item6-10,
#item6-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-3 {
      background: $color-focus-item;
    }
  }
}

#item9-2,
#item10-2,
#item11-2,
#item12-2,
#item13-2,
#item14-2,
#item15-2,
#item16-2 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-4 {
      background: $color-focus-item;
    }
  }
}


#item10-2,
#item10-3,
#item10-4,
#item10-5,
#item10-6 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-5 {
      background: $color-focus-item;
    }
  }
}


#item4-8,
#item5-8,
#item6-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-6 {
      background: $color-focus-item;
    }
  }
}


#item8-4,
#item9-4,
#item10-4,
#item11-4,
#item12-4,
#item13-4,
#item14-4,
#item15-4 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-7 {
      background: $color-focus-item;
    }
  }
}

#item4-11,
#item5-11,
#item6-11,
#item7-11,
#item8-11,
#item9-11,
#item10-11,
#item11-11,
#item12-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-8 {
      background: $color-focus-item;
    }
  }
}

#item1-15,
#item2-15,
#item3-15,
#item4-15,
#item5-15,
#item6-15,
#item7-15,
#item8-15,
#item9-15 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-9 {
      background: $color-focus-item;
    }
  }
}

#item9-9,
#item10-9,
#item11-9,
#item12-9 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-10 {
      background: $color-focus-item;
    }
  }
}

#item12-8,
#item12-9,
#item12-10,
#item12-11,
#item12-12,
#item12-13,
#item12-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-11 {
      background: $color-focus-item;
    }
  }
}


#item7-13,
#item7-14,
#item7-15,
#item7-16,
#item7-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-12 {
      background: $color-focus-item;
    }
  }
}


#item7-13,
#item8-13,
#item9-13,
#item10-13 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-12 {
      background: $color-focus-item;
    }
  }
}


#item3-17,
#item3-18,
#item3-19,
#item3-20,
#item3-21,
#item3-22,
#item3-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-13 {
      background: $color-focus-item;
    }
  }
}

#item3-17,
#item4-17,
#item5-17,
#item6-17,
#item7-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-13 {
      background: $color-focus-item;
    }
  }
}

#item10-11,
#item10-12,
#item10-13 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-14 {
      background: $color-focus-item;
    }
  }
}


#item15-8,
#item16-8,
#item17-8,
#item18-8,
#item19-8,
#item20-8,
#item21-8,
#item22-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-15 {
      background: $color-focus-item;
    }
  }
}


#item22-1,
#item22-2,
#item22-3,
#item22-4,
#item22-5,
#item22-6,
#item22-7,
#item22-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-16 {
      background: $color-focus-item;
    }
  }
}


#item21-2,
#item22-2,
#item23-2,
#item24-2,
#item25-2,
#item26-2,
#item27-2,
#item28-2 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-17 {
      background: $color-focus-item;
    }
  }
}


#item18-6,
#item18-8,
#item18-9,
#item18-10,
#item18-11,
#item18-12 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-18 {
      background: $color-focus-item;
    }
  }
}

#item14-11,
#item14-12,
#item14-13,
#item14-14,
#item14-15,
#item14-16 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-19 {
      background: $color-focus-item;
    }
  }
}

#item5-20,
#item6-20,
#item7-20,
#item8-20,
#item9-20 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-20 {
      background: $color-focus-item;
    }
  }
}


#item20-5,
#item20-6,
#item20-7,
#item20-8,
#item20-9,
#item20-10 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-21 {
      background: $color-focus-item;
    }
  }
}


#item12-14,
#item13-14,
#item14-14,
#item15-14,
#item16-14,
#item17-14,
#item18-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-22 {
      background: $color-focus-item;
    }
  }
}


#item16-10,
#item16-11,
#item16-12,
#item16-13,
#item16-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-23 {
      background: $color-focus-item;
    }
  }
}


#item20-6,
#item21-6,
#item22-6,
#item23-6,
#item24-6,
#item25-6,
#item26-6,
#item27-6 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-24 {
      background: $color-focus-item;
    }
  }
}

#item22-4,
#item23-4,
#item24-4,
#item25-4,
#item26-4,
#item27-4 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-25 {
      background: $color-focus-item;
    }
  }
}

#item11-16,
#item12-16,
#item13-16,
#item14-16 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-26 {
      background: $color-focus-item;
    }
  }
}

#item9-18,
#item9-19,
#item9-20,
#item9-21,
#item9-22,
#item9-23,
#item9-24 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-27 {
      background: $color-focus-item;
    }
  }
}


#item9-18,
#item10-18,
#item11-18,
#item12-18,
#item13-18,
#item14-18,
#item15-18 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-27 {
      background: $color-focus-item;
    }
  }
}


#item16-12,
#item17-12,
#item18-12,
#item19-12,
#item20-12 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-28 {
      background: $color-focus-item;
    }
  }
}

#item12-16,
#item12-17,
#item12-18,
#item12-19 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-29 {
      background: $color-focus-item;
    }
  }
}


#item18-10,
#item19-10,
#item20-10,
#item21-10,
#item22-10,
#item23-10,
#item24-10,
#item25-10,
#item26-10,
#item27-10 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-30 {
      background: $color-focus-item;
    }
  }
}

#item7-23,
#item8-23,
#item9-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-31 {
      background: $color-focus-item;
    }
  }
}

#item14-18,
#item14-19,
#item14-20,
#item14-21,
#item14-22,
#item14-23,
#item14-24 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-32 {
      background: $color-focus-item;
    }
  }
}

#item24-9,
#item24-10,
#item24-11,
#item24-12 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-33 {
      background: $color-focus-item;
    }
  }
}


#item14-20,
#item15-20,
#item16-20,
#item17-20,
#item18-20,
#item19-20 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-34 {
      background: $color-focus-item;
    }
  }
}


#item18-16,
#item19-16,
#item20-16,
#item21-16,
#item22-16,
#item23-16 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-35 {
      background: $color-focus-item;
    }
  }
}


#item18-16,
#item18-17,
#item18-18,
#item18-19,
#item18-20 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-35 {
      background: $color-focus-item;
    }
  }
}



#item20-14,
#item21-14,
#item22-14,
#item23-14,
#item24-14,
#item25-14,
#item26-14,
#item27-14,
#item28-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-36 {
      background: $color-focus-item;
    }
  }
}

#item20-14,
#item20-15,
#item20-16,
#item20-17,
#item20-18 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-36 {
      background: $color-focus-item;
    }
  }
}


#item13-22,
#item14-22,
#item15-22,
#item16-22 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-37 {
      background: $color-focus-item;
    }
  }
}

#item11-24,
#item12-24,
#item13-24,
#item14-24 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-38 {
      background: $color-focus-item;
    }
  }
}


#item16-22,
#item16-23,
#item16-24,
#item16-25,
#item16-26,
#item16-27,
#item16-28 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-39 {
      background: $color-focus-item;
    }
  }
}

#item22-16,
#item22-17,
#item22-18,
#item22-19,
#item22-20,
#item22-21,
#item22-22 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-40 {
      background: $color-focus-item;
    }
  }
}



#item12-26,
#item13-26,
#item14-26,
#item15-26,
#item16-26,
#item17-26,
#item18-26 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-41 {
      background: $color-focus-item;
    }
  }
}

#item16-24,
#item17-24,
#item18-24,
#item19-24,
#item20-24,
#item21-24 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-42 {
      background: $color-focus-item;
    }
  }
}


#item22-19,
#item23-19,
#item24-19,
#item25-19,
#item26-19,
#item27-19,
#item28-19 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-43 {
      background: $color-focus-item;
    }
  }
}


#item21-22,
#item22-22 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-44 {
      background: $color-focus-item;
    }
  }
}


#item26-19,
#item26-20,
#item26-21,
#item26-22,
#item26-23,
#item26-24,
#item26-25,
#item26-26,
#item26-27 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-45 {
      background: $color-focus-item;
    }
  }
}


#item21-26,
#item22-26,
#item23-26,
#item24-26,
#item25-26,
#item26-26 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-46 {
      background: $color-focus-item;
    }
  }
}

#item23-25,
#item23-26,
#item23-27,
#item23-28,
#item23-29 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-47 {
      background: $color-focus-item;
    }
  }
}





// #item1-9:valid~#item1-10:valid~#item1-11:valid~#item1-12:valid~#item1-13:valid~#item1-14:valid~.crossword-clues .crossword-clues__list-item--across-1 {
//   background: $color-valid-item;
// }



// #item1-9:valid~#item1-10:valid~#item1-11:valid~#item1-12:valid~#item1-13:valid~#item1-14:valid~#item1-16:valid~#item1-17:valid~#item1-18:valid~#item1-19:valid~#item1-20:valid~#item1-21:valid~#item1-22:valid~#item1-23:valid~#item2-10:valid~#item2-12:valid~#item2-15:valid~#item2-19:valid~#item2-23:valid~#item3-7:valid~#item3-8:valid~#item3-9:valid~#item3-10:valid~#item3-11:valid~#item3-12:valid~#item3-13:valid~#item3-15:valid~#item3-17:valid~#item3-18:valid~#item3-19:valid~#item3-20:valid~#item3-21:valid~#item3-23:valid~#item4-10:valid~#item4-12:valid~#item4-15:valid~#item4-17:valid~#item4-19:valid~#item4-23:valid~#item5-10:valid~#item5-13:valid~#item5-14:valid~#item5-15:valid~#item5-16:valid~#item5-17:valid~#item5-20:valid~#item5-23:valid~#item6-7:valid~#item6-8:valid~#item6-9:valid~#item6-10:valid~#item6-11:valid~#item6-12:valid~#item6-13:valid~#item6-15:valid~#item6-17:valid~#item6-18:valid~#item6-19:valid~#item6-20:valid~#item6-21:valid~#item6-23:valid~#item7-2:valid~#item7-5:valid~#item7-8:valid~#item7-13:valid~#item7-15:valid~#item7-20:valid~#item7-23:valid~#item7-27:valid~#item8-2:valid~#item8-5:valid~#item8-8:valid~#item8-10:valid~#item8-13:valid~#item8-14:valid~#item8-15:valid~#item8-16:valid~#item8-17:valid~#item8-21:valid~#item8-22:valid~#item8-23:valid~#item8-24:valid~#item8-25:valid~#item8-26:valid~#item8-27:valid~#item8-28:valid~#item9-2:valid~#item9-5:valid~#item9-8:valid~#item9-10:valid~#item9-13:valid~#item9-15:valid~#item9-18:valid~#item9-19:valid~#item9-20:valid~#item9-23:valid~#item9-25:valid~#item9-27:valid~#item10-1:valid~#item10-2:valid~#item10-3:valid~#item10-4:valid~#item10-5:valid~#item10-6:valid~#item10-7:valid~#item10-8:valid~#item10-9:valid~#item10-10:valid~#item10-12:valid~#item10-16:valid~#item10-19:valid~#item10-22:valid~#item10-23:valid~#item10-24:valid~#item10-25:valid~#item10-26:valid~#item10-27:valid~#item10-28:valid~#item11-2:valid~#item11-5:valid~#item11-8:valid~#item11-11:valid~#item11-12:valid~#item11-13:valid~#item11-14:valid~#item11-15:valid~#item11-16:valid~#item11-17:valid~#item11-18:valid~#item11-19:valid~#item11-20:valid~#item11-21:valid~#item11-25:valid~#item11-29:valid~#item12-1:valid~#item12-2:valid~#item12-3:valid~#item12-4:valid~#item12-5:valid~#item12-6:valid~#item12-8:valid~#item12-10:valid~#item12-12:valid~#item12-16:valid~#item12-19:valid~#item12-22:valid~#item12-23:valid~#item12-24:valid~#item12-25:valid~#item12-26:valid~#item12-27:valid~#item12-28:valid~#item12-29:valid~#item13-2:valid~#item13-5:valid~#item13-7:valid~#item13-8:valid~#item13-9:valid~#item13-10:valid~#item13-11:valid~#item13-12:valid~#item13-13:valid~#item13-14:valid~#item13-16:valid~#item13-17:valid~#item13-18:valid~#item13-19:valid~#item13-20:valid~#item13-21:valid~#item13-25:valid~#item13-29:valid~#item14-2:valid~#item14-5:valid~#item14-8:valid~#item14-10:valid~#item14-12:valid~#item14-23:valid~#item14-29:valid~#item15-4:valid~#item15-5:valid~#item15-6:valid~#item15-7:valid~#item15-9:valid~#item15-10:valid~#item15-11:valid~#item15-12:valid~#item15-13:valid~#item15-14:valid~#item15-15:valid~#item15-16:valid~#item15-18:valid~#item15-19:valid~#item15-20:valid~#item15-21:valid~#item15-22:valid~#item15-23:valid~#item15-24:valid~#item15-25:valid~#item15-27:valid~#item15-28:valid~#item15-29:valid~#item16-7:valid~#item16-10:valid~#item16-12:valid~#item16-14:valid~#item16-20:valid~#item16-23:valid~#item17-7:valid~#item17-8:valid~#item17-9:valid~#item17-10:valid~#item17-12:valid~#item17-13:valid~#item17-14:valid~#item17-15:valid~#item17-16:valid~#item17-17:valid~#item17-20:valid~#item17-21:valid~#item17-22:valid~#item17-23:valid~#item18-7:valid~#item18-10:valid~#item18-12:valid~#item18-14:valid~#item18-20:valid~#item18-23:valid~#item19-7:valid~#item19-12:valid~#item19-14:valid~#item19-15:valid~#item19-16:valid~#item19-17:valid~#item19-18:valid~#item19-19:valid~#item19-20:valid~#item19-23:valid~#item20-10:valid~#item20-11:valid~#item20-12:valid~#item20-13:valid~#item20-14:valid~#item20-19:valid~#item20-20:valid~#item20-21:valid~#item20-22:valid~#item20-23:valid~#item21-14:valid~#item21-16:valid~#item21-17:valid~#item21-18:valid~#item21-19:valid~.crossword-complete {
//   opacity: 1;
//   visibility: visible;
// }

.clues-img {
  max-width: 200px;
  display: block;
  display: block;
  width: 100%;
  height: auto;
}

.crossword-clues__static {
  display: none;
  position: static;
  transform: none;
  max-width: inherit;
  width: inherit;
  padding-top: 10px;
  padding-left: 0;
}

@media (max-width: 1300px) {
  .crossword-clues {
    display: none;
  }

  .crossword-clues__static {
    display: block;
  }

  .crossword-board-container {
    width: 100%;
    overflow: auto;
  }
}

// [data-id] {
//   background-color: rgba(255, 0, 0, 0.418);
// }